extends layout

block content
  label(for="username") Username: 
  input#username 
  p
  label(for="hwId") Homework Id:
  input(type="number" placeholder="Hw ID" id="hwId")

  h2 API Button Actions
  div.actionsDiv
    div.actionDiv
      p GET Informacion breve todas las tareas 
      button(type="button" onclick="handleButtonClick('briefInformation')") Click here
    div.actionDiv
      p GET Informacion completa de una tarea
      button(type="button" onclick="handleButtonClick('allInformation')") Click here
    div.actionDiv
      p DELETE Homework
      button(type="button" onclick="handleButtonClick('deleteHw')") Click here

  div(class="responseDiv")
    label(for="responseLabel") Response from latest API call: 
    span#responseLabel #{response}

  div(id="cardsContainer")

  script(src="./javascripts/index.js")